<footer id="footer">
  <div>
    <ul>
      <li><a href="/v2/privacy.html">Privacy Policy</a></li>
      <li><a href="/v2/imprint.html">Imprint</a></li>
    </ul>
    <!-- <p>
    Lorem ipsum dolor<br>
    Tel: +49 761 1234 5678<br>
    <a href="mailto:contact@bluecitizen.eu?subject=Feedback%20from%20Website">contact@bluecitizen.eu</a>
    </p> -->
  </div>
  <div>
    <!-- <p>This website neither uses cookies nor collects personal data. The site is hosted on GitHub's server so please read their <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">privacy statement</a> to understand what data is collected by GitHub.</p> -->
    <p class="copyright">&copy; 2026 Nina Dietz + Jan Feuring</p>
  </div>
</footer>
