<link rel="stylesheet" href="/resources/css/helper.css">
<link rel="stylesheet" href="/resources/css/hamburgers.css">
<!-- example of loading swiper on homepage -->
{{#if (eq pageId 'index')}}
<link rel="stylesheet" href="/resources/css/swiper-bundle.min.css">
{{/if}}
<link rel="stylesheet" href="/resources/css/styles.css">
<style>
    :root {
        --primary-color: #4ba5ee;
        --secondary-color: #526d81;
    }

    html {
        color: #333;
    }

    nav span {
        color: var(--secondary-color);
    }

    nav a:hover,
    nav span:hover {
        color: var(--secondary-color) !important;
    }

    nav .expanded ul {
        @media (min-width: 768px) {
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.15);
        background: rgba(255, 255, 255, 0.9) !important;
        }
    }

    .home header {
        color: white;
    }

    .section--flex {
        background: #eee;
        padding: 1rem;
    }

    .cards--youtube .card {
        span {
            color: #333; 
        }
    }
</style>


