<section class="darken">
    <h3>Disclaimer:</h3>
    <p>The project “Young Citizens' Council for the Ocean” was implemented by Nina Dietz and Jan Feuring with the support of the EU4Ocean Coalition funded by the European Commission.</p>
    <p>However, the content of the publication herein is the sole responsibility of the publishers, and it does not necessarily represent the views expressed by the European Commission or its services. Views and opinions expressed are, however, those of the author(s) only and do not necessarily reflect those of the European Union, or the European Climate, Infrastructure and Environment Executive Agency (CINEA). Neither the European Union nor the granting authority can be held responsible for them.</p>
</section>