<header class="header">
  <div class="header_row">
    <div class="logo">
      <img width="100" height="100" src="/assets/logo.png" alt="beabluecitizen.eu">
      <a href="/index.html">Blue Citizen</a>
    </div>

    <!-- for mobile navigation -->
    <button aria-label="Menu" class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        <!--<span class="hamburger-label">Menu</span>-->
    </button>

    <nav data-set-max-height="true">
        {{> partials/menu }}
    </nav>
  </div>
  {{#if (eq category 'about')}}
    <ul class="subnav">
      {{> partials/menu_about }}
    </ul>
  {{/if}}
  {{#if (eq category 'compass')}}
    <ul class="subnav">
      {{> partials/menu_compass }}
    </ul>
  {{/if}}
  {{#if (eq category 'education')}}
    <ul class="subnav">
      {{> partials/menu_education }}
    </ul>
  {{/if}}
  {{#if (eq category 'resources')}}
    <ul class="subnav">
      {{> partials/menu_resources }}
    </ul>
  {{/if}}
  {{#if (eq category 'club')}}
    <ul class="subnav">
      {{> partials/menu_club }}
    </ul>
  {{/if}}
</header>
