      <li>{{#if (eq pageId 'about/team')}}<span>Who Are We?</span>{{else}}<a href="/about/team.html">Who Are We?</a>{{/if}}</li>
      <li>{{#if (eq pageId 'about/story')}}<span>Our Story</span>{{else}}<a href="/about/story.html">Our Story</a>{{/if}}</li>
      <li>{{#if (eq pageId 'about/vision')}}<span>Our Vision & Timeline</span>{{else}}<a href="/about/vision.html">Our Vision & Timeline</a>{{/if}}</li>
      <li>{{#if (eq pageId 'about/petitions')}}<span>Petitions</span>{{else}}<a href="/about/petitions.html">Petitions</a>{{/if}}</li>