<ul>
  <li {{#if (eq pageId 'index')}}class="selected"{{/if}}><a href="/">Home</a></li>
  <li {{#if (eq category 'about')}}class="selected"{{/if}}><a href="/about">About</a>
    <ul>
      {{> partials/menu_about }}
    </ul> 
  </li>
  <li {{#if (eq category 'compass')}}class="selected"{{/if}}><a href="/compass">Compass</a>
    <ul>
      {{> partials/menu_compass }}
    </ul>
  </li>
  <li {{#if (eq category 'education')}}class="selected"{{/if}}><a href="/education">Education</a>
    <ul>
      {{> partials/menu_education }}
    </ul>
  </li>
  <li {{#if (eq category 'resources')}}class="selected"{{/if}}><a href="/resources">Resources</a>
    <ul>
      {{> partials/menu_resources }}
    </ul>
  </li>
  <li {{#if (eq category 'club')}}class="selected"{{/if}}><a href="/club">Blue Citizen e.V.</a>
    <ul>
      {{> partials/menu_club }}
    </ul> 
  </li>
</ul>

