      <li>{{#if (eq pageId 'resources/videos')}}<span>Our Videos</span>{{else}}<a href="/resources/videos.html">Our Videos</a>{{/if}}</li>
      <li>{{#if (eq pageId 'resources/documentary')}}<span>Our Documentary</span>{{else}}<a href="/resources/documentary.html">Our Documentary</a>{{/if}}</li>
      <li>{{#if (eq pageId 'resources/publications')}}<span>Publications</span>{{else}}<a href="/resources/publications.html">Publications</a>{{/if}}</li>
      <li>{{#if (eq pageId 'resources/media')}}<span>Media Corner</span>{{else}}<a href="/resources/media.html">Media Corner</a>{{/if}}</li>
