      <li>{{#if (eq pageId 'club/about')}}<span>Who Are We?</span>{{else}}<a href="/club/about.html">Who Are We?</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/blue-citizenship')}}<span>Blue Citizenship</span>{{else}}<a href="/club/blue-citizenship.html">Blue Citizenship</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/thinking')}}<span>Cosmopolitan Thinking</span>{{else}}<a href="/club/thinking.html">Cosmopolitan Thinking</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/partners')}}<span>Partners</span>{{else}}<a href="/club/partners.html">Partners</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/inspirations')}}<span>Inspirations</span>{{else}}<a href="/club/inspirations.html">Inspirations</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/get-involved')}}<span>Get Invovled</span>{{else}}<a href="/club/get-involved.html">get-involved</a>{{/if}}</li>