<ul>
  <!-- <li>{{#if (eq pageId 'index')}}<span>Home</span>{{else}}<a href="/">Home</a>{{/if}}</li> -->
  <li class="has-list {{#if (or
        (eq pageId 'about/team')
        (eq pageId 'about/story')
        (eq pageId 'about/vision')
        (eq pageId 'about/petitions')
      )}}selected{{/if}}"><span>About</span>
    <ul>
      <li>{{#if (eq pageId 'about/team')}}<span>Who Are We?</span>{{else}}<a href="/about/team.html">Who Are We?</a>{{/if}}</li>
      <li>{{#if (eq pageId 'about/story')}}<span>Our Story</span>{{else}}<a href="/about/story.html">Our Story</a>{{/if}}</li>
      <li>{{#if (eq pageId 'about/vision')}}<span>Our Vision & Timeline</span>{{else}}<a href="/about/vision.html">Our Vision & Timeline</a>{{/if}}</li>
      <li>{{#if (eq pageId 'about/petitions')}}<span>Petitions</span>{{else}}<a href="/about/petitions.html">Petitions</a>{{/if}}</li>
    </ul>  
  </li>
  <li class="has-list {{#if (or
        (eq pageId 'compass/blue-citizen')
        (eq pageId 'compass/vision')
        (eq pageId 'compass/principles')
        (eq pageId 'compaass/policy')
        (eq pageId 'compaass/changes')
        (eq pageId 'compaass/appreciations')
        (eq pageId 'compaass/register')
      )}}selected{{/if}}"><span>Compass</span>
    <ul>
      <li>{{#if (eq pageId 'compass/blue-citizen')}}<span>What Is a Blue Citizen</span>{{else}}<a href="/compass/blue-citizen.html">What Is a Blue Citizen</a>{{/if}}</li>
      <li>{{#if (eq pageId 'compass/vision')}}<span>Global Vision & Background</span>{{else}}<a href="/compass/vision.html">Global Vision & Background</a>{{/if}}</li>
      <li>{{#if (eq pageId 'compass/principles')}}<span>Principles</span>{{else}}<a href="/compass/principles.html">Principles</a>{{/if}}</li>
      <li>{{#if (eq pageId 'compass/policy')}}<span>Policy Recommendations</span>{{else}}<a href="/compass/policy.html">Policy Recommendations</a>{{/if}}</li>
      <li>{{#if (eq pageId 'compass/changes')}}<span>Institutional Changes</span>{{else}}<a href="/compass/changes.html">Institutional Changes</a>{{/if}}</li>
      <li>{{#if (eq pageId 'compass/appreciations')}}<span>Appreciations</span>{{else}}<a href="/compass/appreciations.html">Appreciations</a>{{/if}}</li>
      <li>{{#if (eq pageId 'compass/register')}}<span>Sign Compass</span>{{else}}<a href="/compass/register.html">Sign Compass</a>{{/if}}</li>
    </ul>
  </li>
  <li class="has-list {{#if (or
        (eq pageId 'education/pillars')
        (eq pageId 'education/literacy')
        (eq pageId 'education/curriculum')
      )}}selected{{/if}}"><span>Education</span>
    <ul>
      <li>{{#if (eq pageId 'education/pillars')}}<span>3 Pillars</span>{{else}}<a href="/education/pillars.html">3 Pillars </a>{{/if}}</li>
      <li>{{#if (eq pageId 'education/literacy')}}<span>Ocean Literacy</span>{{else}}<a href="/education/literacy.html">Ocean Literacy</a>{{/if}}</li>
      <li>{{#if (eq pageId 'education/curriculum')}}<span>Our Curriculum</span>{{else}}<a href="/education/curriculum.html">Our Curriculum</a>{{/if}}</li>
    </ul>  
  </li>
  <li class="has-list {{#if (or
        (eq pageId 'resources/videos')
        (eq pageId 'resources/documentary')
        (eq pageId 'resources/books')
        (eq pageId 'resources/media')
      )}}selected{{/if}}"><span>Resources</span>
    <ul>
      <li>{{#if (eq pageId 'resources/videos')}}<span>Our Videos</span>{{else}}<a href="/resources/videos.html">Our Videos</a>{{/if}}</li>
      <li>{{#if (eq pageId 'resources/documentary')}}<span>Our Documentary</span>{{else}}<a href="/resources/documentary.html">Our Documentary</a>{{/if}}</li>
      <li>{{#if (eq pageId 'resources/books')}}<span>Books and Texts</span>{{else}}<a href="/resources/books.html">Books and Texts</a>{{/if}}</li>
      <li>{{#if (eq pageId 'resources/media')}}<span>Media Corner</span>{{else}}<a href="/resources/media.html">Media Corner</a>{{/if}}</li>
    </ul>  
  </li>
  <li class="has-list {{#if (or
        (eq pageId 'club/about')
        (eq pageId 'club/blue-citizenship')
        (eq pageId 'club/cosmopolitan-thinking')
        (eq pageId 'club/partners')
        (eq pageId 'club/inspirations')
        (eq pageId 'club/get-involved')
      )}}selected{{/if}}"><span>Blue Citizen e.V.</span>
    <ul>
      <li>{{#if (eq pageId 'club/about')}}<span>Who Are We?</span>{{else}}<a href="/club/about.html">Who Are We?</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/blue-citizenship')}}<span>Blue Citizenship</span>{{else}}<a href="/club/blue-citizenship.html">Blue Citizenship</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/cosmopolitan-thinking')}}<span>Cosmopolitan Thinking</span>{{else}}<a href="/club/cosmopolitan-thinking.html">Cosmopolitan Thinking</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/partners')}}<span>Partners</span>{{else}}<a href="/club/partners.html">Partners</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/inspirations')}}<span>Inspirations</span>{{else}}<a href="/club/inspirations.html">Inspirations</a>{{/if}}</li>
      <li>{{#if (eq pageId 'club/get-involved')}}<span>Get Invovled</span>{{else}}<a href="/club/partners.html">get-involved</a>{{/if}}</li>
    </ul>  
  </li>
</ul>

