.bubbleContainer {
  width: 100%;
  height: 10px;
  bottom: -10px;
  position: absolute;
}

.bubbleX1 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY1 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 34px;
  left: 88vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX1 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX2 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY2 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 37px;
  left: 79vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX2 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX3 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY3 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 66px;
  left: 21vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX3 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(11px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX4 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY4 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 4px;
  left: 84vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX4 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(9px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX5 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX5;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY5 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 77px;
  left: 6vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX5 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX6 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX6;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY6 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 96px;
  left: 91vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX6 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(13px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX7 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX7;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY7 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 3px;
  left: 37vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX7 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX8 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX8;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY8 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 79px;
  left: 8vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX8 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX9 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX9;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY9 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 74px;
  left: 51vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX9 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX10 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX10;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY10 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 28px;
  left: 67vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX10 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(14px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(13px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX11 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX11;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY11 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 30px;
  left: 68vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX11 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX12 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX12;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY12 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 19px;
  left: 98vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX12 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(11px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX13 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX13;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY13 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 80px;
  left: 99vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX13 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(11px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX14 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX14;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY14 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 45px;
  left: 30vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX14 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(11px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX15 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX15;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY15 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 95px;
  left: 47vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX15 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX16 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX16;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY16 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 40px;
  left: 97vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX16 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(11px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX17 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX17;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY17 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 32px;
  left: 27vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX17 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX18 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX18;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY18 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 58px;
  left: 47vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX18 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(7px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX19 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX19;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY19 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 93px;
  left: 82vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX19 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX20 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX20;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY20 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 10px;
  left: 24vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX20 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(14px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX21 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX21;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY21 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 26px;
  left: 56vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX21 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(14px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(9px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX22 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX22;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY22 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 42px;
  left: 39vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX22 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX23 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX23;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY23 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 24px;
  left: 92vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX23 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX24 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX24;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY24 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 38px;
  left: 31vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX24 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(14px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX25 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX25;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY25 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 66px;
  left: 32vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX25 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX26 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX26;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY26 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 21px;
  left: 25vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX26 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(11px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX27 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX27;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY27 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 53px;
  left: 84vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX27 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX28 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX28;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY28 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 63px;
  left: 70vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX28 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX29 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX29;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY29 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 40px;
  left: 15vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX29 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX30 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX30;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY30 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 66px;
  left: 7vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX30 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX31 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX31;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY31 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 40px;
  left: 38vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX31 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX32 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX32;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY32 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 57px;
  left: 21vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX32 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(9px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX33 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX33;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY33 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 100px;
  left: 52vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX33 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX34 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX34;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY34 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 85px;
  left: 43vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX34 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX35 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX35;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY35 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 8px;
  left: 16vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX35 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX36 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX36;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY36 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 12px;
  left: 61vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX36 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX37 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX37;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY37 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 30px;
  left: 83vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX37 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX38 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX38;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY38 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 67px;
  left: 72vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX38 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX39 {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX39;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY39 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 78px;
  left: 20vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX39 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX40 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX40;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY40 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 44px;
  left: 73vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX40 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX41 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX41;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY41 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 83px;
  left: 6vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX41 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(11px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX42 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX42;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY42 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 13px;
  left: 45vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX42 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX43 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX43;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY43 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 57px;
  left: 14vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX43 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(14px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX44 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX44;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY44 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 39px;
  left: 66vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX44 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX45 {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX45;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY45 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 46px;
  left: 96vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX45 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX46 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX46;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY46 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 48px;
  left: 87vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX46 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX47 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX47;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY47 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 85px;
  left: 56vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX47 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX48 {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX48;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY48 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 37px;
  left: 78vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 1s;
}

@keyframes bubbleX48 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX49 {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX49;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY49 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 12px;
  left: 85vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 3s;
}

@keyframes bubbleX49 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbleX50 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #FFF;
  transform: translateX(0);
  animation-name: bubbleX50;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubbleY50 {
  display: inline-block;
  position: absolute;
  z-index: 5000;
  top: 40px;
  left: 23vw;
  animation-name: bubbleY;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0);
  opacity: 0.5;
  animation-delay: 2s;
}

@keyframes bubbleX50 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-random(15)px);
  }
  40% {
    transform: translateX(9px);
  }
  60% {
    transform: translateX(-random(15)px);
  }
  80% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-random(15)px);
  }
}
@keyframes bubbleY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/*# sourceMappingURL=bubble.css.map */
