.cards {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.card {
  align-items: self-start;
  padding: 10px;
  overflow: hidden;
  background: rgba(255,255,255,0.9);
  width: 49%;

  @media (min-width: 768px) {
    width: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.cards--youtube .card {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: none;

  span {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 7px;
    display: block;
    line-height: 1.15;
    padding: 0;
  }

  img {
    height: 80%;
  }
}


.cards--partner {
  justify-content: flex-start;
  gap: 20px;
  margin-top: 1rem;

  .card {
    height: 110px;
    width: 250px;
    border: 0;
    padding: 0;
    transition: transform 0.250s;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    :is(img) {
      display: block;
      height: 101%; /* temp fix for white line in image */
    }
  }

}
