footer {
	padding: 1rem;
	margin: 2rem 0 0;
	font-size: smaller;
	border-top: solid 1px #ccc;
	color: #ccc;

	@media (min-width: 1024px) {
		display: flex;
		justify-content: space-between ;
	}

	@media (min-width: 1320px) {
		padding-left: 0;
		padding-right: 0;
	}

	> div {
		margin-bottom: 0.5rem;

		@media (min-width: 1024px) {
			width: 50%;
		}

    	:is(ul) {
      		list-style: none;
      		padding: 0;
		}

      	:is(li) {
        	display: inline-block;
        	margin-right: 15px;

			@media (min-width: 1024px) {
				margin-top: 0;
			}
      	}
	}

	.copyright {
		margin-top: 0;

		@media (min-width: 1024px) {
			text-align: right;
		}
	}
}
