.header {
  margin: 1rem;
  font-family: Quicksand, arial, verdana, sans-serif;

  .header_row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1024px) {
      align-items: flex-start;
    }
  }

  @media (min-width: 1024px) {
    margin: 15px 20px 25px;
  }

  @media (min-width: 1320px) {
    margin-left: 0;
    margin-right: 0;
  }

	.logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      margin-left: -5px;
      width: 70px;
      height: auto;

      @media (min-width: 1024px) {
         width: 100px;
      }
    }

    :is(a) {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      color: var(--primary-color);
    }

    @media (min-width: 1024px) {
      :is(a) {
        font-size: 35px;
        line-height: 1.32;
      }
    }

		&:hover {
			text-decoration: none;
		}
	}

  .subnav {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0.5rem 0 1rem;
      font-size: 1rem;
      font-weight: 500;
      /* border-bottom: solid 1px #fff; */
      
      li {
        display: inline-block;
        margin-right: 1rem;
      }

      li:last-child {
        margin-right: 0;
      }

      li a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.home .header .logo :is(a) {
  color: white;
}

