.partners {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        border-bottom: solid 1px white;
        padding-bottom: 2rem;
        align-items: flex-start;

        &:last-child {
            border-bottom: none;
        }

        h2 {
            flex-basis: 100%;
            margin-bottom: 1rem;
        }

        figure {
            align-items: center;
            display: flex;
            flex: 0 0 28%;
            justify-content: center;
            margin-top: 5px;
            width: 28%;
        }

        figure img {
            display: block;
            height: auto;
            max-height: 12rem;
            max-width: 100%;
            width: auto;
        }

        > div {
            flex-basis: 70%;
        }
    }
}
