

html {
    margin: 0;
    height: 100%;
    font-family: Supreme-Regular, Arial, Helvetica, system-ui, sans-serif;
    font-size: 1.25rem;
    color: white;
}

body {
    min-height: 100vh;
    margin: 0;
}

.background {
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // background: #14212D;
    // background: linear-gradient(0deg, rgba(20, 33, 45, 1) 10%, rgba(1, 116, 157, 1) 100%);

background: #00102F;
background: radial-gradient(circle, rgba(0, 16, 47, 1) 0%, rgba(36, 97, 163, 1) 0%, rgba(0, 55, 115, 1) 51%, rgba(0, 16, 47, 1) 100%);

    position: fixed;
    z-index: 0;
}

.wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    text-align: right;
    margin: 1em 0;
}

nav {
    margin-bottom: 2em;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: Supreme-Medium, Arial, Helvetica, system-ui, sans-serif;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0 1em 0 0;
}

ul li:last-child {
    margin-right: 0;
}

footer {
    text-align: left;
    font-size: 0.8rem;
    padding: 1em;
}

main {
    // background: rgba(255, 255, 255, 0.95);
    overflow-y: auto;
    flex-grow: 1;
    overscroll-behavior: contain;
}


.content {
    max-width: 900px;
    box-sizing: border-box;
    padding: 0 2em;
    font-weight: normal;
}

// .content {
//     filter: blur(2px);
//     animation: fadeIn 2s ease-out forwards;
// }

// @keyframes fadeIn {
//     to {
//         filter: blur(0);
//     }   
// }

@media screen and (min-width: 1024px) {
    .content {
        margin: 0 auto;
        padding: 0;
    }
}


.subline {
    font-size: 0.9rem;
    font-weight: normal;
    font-family: Supreme-Regular, Arial, Helvetica, system-ui, sans-serif;
    margin-top: -1.5em;
    margin-bottom: 3em;
}




p {
    margin: 0 0 1em;
}
